<h1>Editar Filial</h1>

<% @subsidiary.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_for @subsidiary do |sd| %>
  <%= sd.label :name %>
  <%= sd.text_field :name %>
  <%= sd.label :cnpj %>
  <%= sd.text_field :cnpj %>
  <%= sd.label :adress %>
  <%= sd.text_field :adress %>
  <%= sd.submit 'Enviar' %>
<% end %>