<h1>Editar categoria</h1>

<% @car_category.errors.full_messages.each do |msg| %>
  <%= msg %>
<% end %>

<%= form_for @car_category do |c_c| %>
  <%= c_c.label :name %>
  <%= c_c.text_field :name %>
  <%= c_c.label :daily_rate %>
  <%= c_c.text_field :daily_rate %>
  <%= c_c.label :car_insurance %>
  <%= c_c.text_field :car_insurance %>
  <%= c_c.label :third_part_insurance %>
  <%= c_c.text_field :third_part_insurance %>
  <%= c_c.submit 'Enviar' %>
<% end %>