<h1>Registrar Categoria</h1>

<%= form_for @car_category do |c_c| %>
  <%= c_c.label :name, 'Nome' %>
  <%= c_c.text_field :name %>
  <%= c_c.label :daily_rate, 'Diária' %>
  <%= c_c.text_field :daily_rate %>
  <%= c_c.label :car_insurance, 'Seguro' %>
  <%= c_c.text_field :car_insurance %>
  <%= c_c.label :third_part_insurance, 'Seguro de terceiros' %>
  <%= c_c.text_field :third_part_insurance %>
  <%= c_c.submit 'Enviar' %>
<% end %>