<h1><%= @car_category.name %></h1>
<ul>
  <li><%= @car_category.daily_rate %></li>
  <li><%= @car_category.car_insurance %></li>
  <li><%= @car_category.third_party_insurance %></li>
</u> 

<%= link_to 'Voltar', car_categories_path %>