<h1>Categoria <%= @car_category.name %></h1>
<dl>
  <dt>Diária:</dt>
    <dd><%= number_to_currency @car_category.daily_rate %></dd>
  <dt>Seguro do carro:</dt>
    <dd><%= number_to_currency @car_category.car_insurance %></dd>
  <dt>Seguro de terceiro:</dt>
    <dd><%= number_to_currency @car_category.third_part_insurance %></dd>
</dl>

<p><%= link_to 'Voltar', car_categories_path %></p>