<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<%= form_with url: search_rentals_path, local: true, method: :get do |f| %>
  <%= f.label :q, 'Código '%>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<%= render @rentals %>