<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<% @rentals.each do |rental| %>
  <dl>
    <dt>Data de início:</dt>
      <dd><%= l rental.start_date %></dd>
  </dl>
    <dt>Data de término:</dt>
      <dd><%= l rental.end_date %></dd>
    <dt>Cliente:</dt>
      <dd><%= rental.customer.name %></dd>
    <dt>Categoria:</dt>
      <dd><%= rental.car_category.name %></dd>
<% end %>