<% if @rental %>
  <dl>
    <dt>Código</dt>
    <dd><%= @rental.code %></dd>
    <dt>Data de início:</dt>
    <dd><%= l @rental.start_date %></dd>
    <dt>Data de término:</dt>
    <dd><%= l @rental.end_date %></dd>
    <dt>Cliente:</dt>
    <dd><%= @rental.customer.name %></dd>
    <dt>Categoria:</dt>
    <dd><%= @rental.car_category.name %></dd>
  </dl>
  <%= link_to 'Iniciar', new_rental_car_rental_path(@rental) %>
<% else %>
  <p><%= "Nenhum resultado encontrado para: #{@q}" %></p>
<% end %>