<h1>Modelos de Carros</h1>

<%= link_to 'Registrar modelo de carro', new_car_model_path %>

<table>
  <thead>
    <tr>
      <th>Fabricante</th>
      <th>Nome</th>
      <th>Ano</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @car_models.each do |cm| %>
    <tr id="car-model-<%= cm.id %>">
      <td><%= cm.manufacturer.name %></td>
      <td><%= cm.name %></td>
      <td><%= cm.year %></td>
      <td><%= link_to 'Ver Detalhes', cm %></td>
    </tr>
  <% end %>
  </tbody>
</table>
