<h1>Modelo de Carro <%= @car_model.name %></h1>

<dl>
  <dt>Fabricante:</dt>
   <dd><%= @car_model.manufacturer.name %></dd>
  <dt>Ano:</dt>
   <dd><%= @car_model.year %></dd>
  <dt>Motor</dt>
   <dd><%= @car_model.motorization %></dd>
  <dt>Combustível</dt>
   <dd><%= @car_model.fuel_type %></dd>
  <dt>Categoria</dt>
   <dd><%= @car_model.car_category.name %></dd>
  <dt>Diária</dt>
   <dd><%= number_to_currency @car_model.car_category.daily_rate %></dd>
</dl>