<!DOCTYPE html>
<html>
  <head>
    <title>RentalCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Início', root_path %>
        <%= link_to 'Filiais', subsidiaries_path %>
        <%= link_to 'Clientes', customers_path %>
        <%= link_to 'Fabricantes', manufacturers_path %>
        <%= link_to 'Categorias de Carros', car_categories_path %>
        <%= link_to 'Modelos de Carros', car_models_path %>
        <%= link_to 'Locações', rentals_path %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to'Entrar', new_user_session_path %>
      <% end %>
    </nav>
    <%= flash[:notice] %>
    <%= flash[:alert]%>
    <%= yield %>
  </body>
</html>
